<form class="login-form">
  <div>
    <label for="email-login">Username:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  <div class ="sign-up">
      Not a member? <a href="/signup">Sign Up now!</a>
  </div>
</form>
<script src="/javascript/login.js"></script>